.contener
{
    border: 1px solid black;
    height: 70vh;
    width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    right: -270px;
    top: 70px;
    background-image: url(b1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.left{
    background-color: rgb(252, 252, 252);
    position: relative;
    width: 400px;
    height: 70vh;
    border: 1px solid black;
    align-items: center;
    right: -400px;
}
h1{

    position: relative;
    right: -50px;
    font-size: 50px;
}
input[type="text"]{
    position: relative;
    right: -40px;
    width: 320px;
    top:20px;
    height: 40px;
    border-radius: 50px 50px;
    border: none;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px 0px gray;
}
.c1{
    font-size: 10px;
    position: relative;
    top: 70px;
    left: -100px;
}
b{

    position: relative;
    left: 250px;
    top: 25px;
}
.btn{
    position: relative;
    top:60px;
    height: 40px;
    width: 320px;
    right: -40px;
    border-radius: 50px 50px;
    border: none;
    font-size: 15px;
    background:linear-gradient(to left ,rgb(94, 24, 160),white);
    box-shadow: 0px 2px 4px 0px gray;

}
p{
    
    position: relative;
    top: 90px;
    right: -80px;
    font-size: 15px;
}