*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navber
{
    display: flex;
    align-items: center;
    list-style: none;
    position:fixed;
    gap: 20px;
    margin-left: 1px;
    font-size: 20px;
    color: white;
    background-color: gray;
    width: 100%;
    height: 50px;
    padding-left: 10px;
     
}
li:hover{
    color:red;
    transform: scale(1.2);
}
.btn{
    position: relative;
    top: 400px;
    right: -300px;
    height: 35px;
    width: 200px;
    border-radius: 15px 15px;
    border: 2px solid white;
    background: transparent;
    font-size: 20px;
    color: white;
}
.btn:hover
{
    color: rgb(40, 167, 57);
    border:2px solid rgb(42, 165, 73);
}
.footer
{
    position: relative;
    top:676px;
    background-color: rgb(71, 64, 64);
    height: 200px;
    width: 100%;
}
.link1
{
    position: relative;
    right: -830px;
    width: 200px;
    height: 100px;
    flex-wrap: wrap;
       

    
}
.link2
{
    width: 700px;
    height: 200px;
    position: relative;
    flex-wrap: wrap;
    top:-100px;
    margin-left: 30px;
    
}
h1{
    color: white;
    font-size: 40px;
    position: relative;
    top: 20px;
    right: -20px;
}
h3{
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
    right: -20px;
}
p{
    color: white;
    position: relative;
    top:30px;
    right: -20px;
    font-size: 20px;
}
.menu
{
    color: white;
    font-size: 20px;
    position: relative;
    right: -100px;
    top:50px;
    gap: 30px;
}